.navigation
  width 100%
  margin 0
  padding 0
  list-style none
  li
    cursor pointer
    position relative
    color #59606b
    padding 15px 0 15px 48px
    border-bottom 1px solid #e0e2e6
    &:hover
      color #65aacd

    img
      position absolute
      left 0
      margin-right 10px

.featured-company
  margin-bottom 20px
  img
    margin-right 10px
    height 80px
    width 80px
    border-radius 5px
  p
    margin 0

.company
  &-title
    font-size 16px
    line-height 1
    &:hover
      color #73993d
      cursor pointer

  &-follow
    cursor pointer
    font-size 12px
    &:hover
      color #65aacd !important

.copy-rights
  padding-top 15px
  font-size 12px
  a
    text-decoration none
    color #b7bfcd
    display inline-block
    float left
    margin 0 20px 5px 0

    &:hover
      color #59606b