.user-aside
  margin-bottom 14px
  overflow hidden
  p
    margin-bottom 0
  img
    margin-right 10px

.user-title:hover
  color #73993d
  cursor pointer

.user-follow
  font-size 12px
  text-decoration none !important
  color #000
  &:hover
    color #65aacd

.product-description
  line-height 1.2