main
  width 100%
  padding 15px

.services-title
  margin-bottom 10px

  h1
    max-width 300px
    display inline-block
    font-size 30px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  input
    background-color #87b448
    border none
    border-radius 5px
    outline none
    cursor pointer
    font-size 14px
    color #ffffff
    padding 6px 20px

    &:hover
      background-color #73993d

.services
  border 1px solid #e0e2e6
  border-radius 5px
  padding 7.5px
  display inline-flex
  flex-wrap wrap
  justify-content space-between

.service
  vertical-align top
  width 140px
  margin 7px
  display inline-block
  text-align center
  color #1c2534

  &:hover
    cursor pointer
    color #71973c
    img
      background-color #f4f7fb

  span
    margin 13px 0 15px

  img
    width 140px
    border 1px solid #e0e2e6
    border-radius 5px
    display block
    margin-bottom:10px