@import "nib"
@import "_header"
@import "_left-side"
@import "_right-side"
@import "_services"

@font-face
  font-family 'Proxima Nova'
  src url('../fonts/ProximaNovaRegular.otf')

body
  color #1c2534
  font-family 'Proxima Nova', sans-serif

.text-gray
  color #7c8695

.content-wrapper
  width 100%

.content
  width 100%
  max-width 1440px
  min-width 970px
  margin 0 auto
  padding 0 14px

aside
  min-width 212px
  max-width 212px

.advertisement
  border-bottom 1px solid #e0e2e6
  color #7c8695
  font-size 14px
  img
    max-width 212px

  &-title
    margin 12px 3px

  &-by
    font-size 11px
    margin 4px 3px 12px
    color #d3d3d3

.aside-block
  padding-top 15px
  font-size 14px
  border-bottom 1px solid #e0e2e6

  .title
    color #7c8695

.see-all:hover
  color #65aacd
  cursor pointer